<% layout("/layouts/boilerplate.ejs") -%>

<body>


        <!-- ---------------------------------- -->
        <nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listing"><i class="fa-brands fa-java"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav">
          <a class="nav-link" href="/listing">Coffee Machine</a>
      </div>


     

        <!-- <div class="search-wrapper d-flex ms-auto search-box">
          <i class="fas fa-search search-icon"></i>
          <input type="text" id="countrySearch" class="search-bar" placeholder="Seach...." onkeyup="searchCountry()" autocomplete="off" />
        </div>
       -->
        
  

      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listing/new">Add New Machine</a>
        <div class="dropdown">
        
          <% if(!currentUser) { %>
            
            <div class="btn-group dropdown-btn">
              <button type="button" class="btn btn-secondary dropdown-toggle " data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                <i class="fa-solid fa-user fa-shake  "></i>
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="/signup"><b>Sign Up</b></a></li>
              <li><a class="dropdown-item"  href="/login"><b>Log In</b></a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item"  href="/login"><b>Help Center</b></a></li>
              </ul>
            </div>
            
            <%}%>
            <% if(currentUser) { %>
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-user"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="/logout"><b>Log Out</b></a></li>
                </ul>
              <%}%>
        </div>
      </div>
  </div>
</div>
</nav>

<!-- ------------------------------------------------ -->
   <div class="row offset-2">
        <h3 class="edit-heading mt-2"><b>Edit Listing</b></h3>
    <form method="POST" action="/listing/<%= data.id %>?_method=PUT" novalidate class="needs-validation">
        <div class="mb-2 col-8">
                <label for="title" class="form-label">Title</label>
                <input id="title" class="form-control" name="listing[title]" value="<%= data.title%>" required>
                <div class="valid-feedback">Title looks good!</div>
        </div>
        <div class="mb-2 col-8">
                <label for="desc" class="form-label">Description</label>
                <textarea name="listing[description]" class="form-control" id="desc" required><%= data.description %></textarea>
                <div class="invalid-feedback">Please provide a description</div>
        </div> 
        <div class="mb-2 col-8">
                <label for="desc" class="form-label">Image</label>
                <input name="listing[image]" class="form-control" id="desc" value="<%= data.image %>">
       
        </div> 
      <div class="row">
        <div class="mb-2 col-md-3">
                <label for="price" class="form-label">Price</label>
                <input type="number" class="form-control" id="price" name="listing[price]" value="<%=data.price%>" required>
                <div class="invalid-feedback">Please provide a price</div>
        </div>
        <div class="mb-2 col-md-5">
                <label for="coun" class="form-label">Country</label>
                <input type="text" class="form-control" id="coun" name="listing[country]"  value="<%=data.country%>" required>
                <div class="invalid-feedback">Please provide a country</div>
        </div>
        
      </div>
        <div class="mb-2 col-8">
                <label for="loc" class="form-label">Status</label>
                <input type="text" class="form-control" id="loc" name="listing[location]" value="<%=data.location%>" required> 
                <div class="invalid-feedback">Please provide a location</div>
        </div>
       
        <button class="btn update-btn mt-2">Update Details</button>
    </form>
    </div>
</body>


