<% layout("/layouts/boilerplate") -%>

<body>
        <!-- ---------------------------------- -->
        <nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listing"><i class="fa-brands fa-java"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav">
          <a class="nav-link" href="/listing">Coffee Machine</a>
      </div>


     

        <!-- <div class="search-wrapper d-flex ms-auto search-box">
          <i class="fas fa-search search-icon"></i>
          <input type="text" id="countrySearch" class="search-bar" placeholder="Seach...." onkeyup="searchCountry()" autocomplete="off" />
        </div>
       -->
        
  

      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listing/new">Add New Machine</a>
        <div class="dropdown">
        
          <% if(!currentUser) { %>
            
            <div class="btn-group dropdown-btn">
              <button type="button" class="btn btn-secondary dropdown-toggle " data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                <i class="fa-solid fa-user fa-shake  "></i>
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="/signup"><b>Sign Up</b></a></li>
              <li><a class="dropdown-item"  href="/login"><b>Log In</b></a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item"  href="/login"><b>Help Center</b></a></li>
              </ul>
            </div>
            
            <%}%>
            <% if(currentUser) { %>
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-user"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="/logout"><b>Log Out</b></a></li>
                </ul>
              <%}%>
        </div>
      </div>
  </div>
</div>
</nav> 
        <div class="row ">
                <div class="col-8 offset-3 ">
        
                        <h3><b>Listing Details:</b></h3>
                </div>
                <div class="card col-6 offset-3" >
                                <img src="<%=list.image%>" class="card-img-top" alt="listing-img">
                                <div class="card-body">
                                  <p class="card-text"><b><%= list.title %></b><br>
                                       <b>Owner by </b> <%= list.owner[0].username %><br>
                                        <%= list.description %><br>
                                        <%= list.location %>,
                
                                        <%=list.country%><br>
                                       <b> &#8377 <%= list.price.toLocaleString("en-IN") %> </b></p>
                                       <!-- <%if(currentUser && currentUser._id.equals(list.owner[0]._id)){%> 


                                       <div class="row">
                                        <div class="col-4 edit-listing-btn">
                                                <a href="/listing/<%= list.id %>/edit" class="card-link btn listing-btn">Edit</a>
                                              </div>  
                                              <div class="col-2">
                                                <form method="POST" action="/listing/<%=list.id%>?_method=DELETE">
                                                        <button class="btn btn-dark delete-btn">Delete</button>
                                                </form>
                                              </div>
                        
                                       
                                        <%}%> -->
<% if(
    currentUser &&
    (
        currentUser._id.equals(list.owner[0]._id) ||
        currentUser.email === "admin@gmail.com" ||
        currentUser.email === "reviewer@gmail.com"
    )
){ %>

<div class="row">
    <div class="col-4 edit-listing-btn">
        <a href="/listing/<%= list.id %>/edit" class="card-link btn listing-btn">Edit</a>
    </div>  

    <div class="col-2">
        <form method="POST" action="/listing/<%=list.id%>?_method=DELETE">
            <button class="btn btn-dark delete-btn">Delete</button>
        </form>
    </div>
</div>

<% } %>


                                        <div class="col-4" style="margin-top: 3px;">
                                                <form action="https://business.phonepe.com/login">
                                                <button class="btn book-btn">Book Now &nbsp;<i class="fa-solid fa-arrow-right fa-beat-fade"></i></button>
                               </form>
                                        </div>
                                </div>
                                
                                  
                                </div>

                                </div>
                              </div>
                              <hr>
                              <div class="col-8 offset-3 mb-3">
                                <h4>Leave a Review</h4>
                                <%if(currentUser){%>
                                <form method="POST" action="/listing/<%=list.id%>/reviews" novalidate class="needs-validation">
                                        <div class="mb-3">
                                                <label for="rating" class="form-label">Rating</label>
                                                <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range" >
                                        
                                        </div>
                                        <div class="mb-3">
                                                <label for="comment" class="form-label">Comment</label>
                                                <textarea name="review[comment]" class="form-control" id="comment" cols="30" rows="5" required></textarea>
                                                <div class="invalid-feedback">
                                                        Please enter a comment in the textarea.
                                                      </div>
                                        </div>
                                        <button class="btn btn-outline-dark">Submit</button>
                                </form>
                                <%}%>
                                <hr>

                                <h4><b>All reviews</b></h4>
                                <div class="row">
                                        <%for(review of list.reviews){%>
                                        <div class="card col-5 mt-2 ms-3 mb-3 listing-card">
                                                <div class="card-body mb-3">
                                                        <h5 class="card-title"><%= review.createdBy.username %></h5>
                                                        <h6 class="card-subtitle mb-2 text-body-secondary"><b><%=review.rating%> stars </b></h6>
                                                        <p class="card-text"><%= review.comment %></p>
                                                </div>
                                                <div class="mb-3">
                                                        

                                                          <% if(
    currentUser &&
    (
        currentUser._id.equals(list.owner[0]._id) ||
        currentUser.email === "admin@gmail.com" ||
        currentUser.email === "reviewer@gmail.com"
    )
){ %>




                                                <form method="POST" action="/listing/<%= list.id %>/reviews/<%=review._id%>?_method=DELETE">
                                                        <button class="btn btn-dark">Delete</button>
                                                </form>


                                                        <% } %>

                                                </div>
                                        </div>
                                                <% } %>
                                </div>
                                </div>
</body>
